<h2>Work Backlog</h2>

<div id="stagesList" ng-controller="workItemsController">
    <div>
        <a data-ng-click='openEditor()'>Create New Job</a>
    </div>

    <div>
        <div class="stage">
            <h2>Aware</h2>
            <figure class="card" ng-repeat="item in backlogItems.Aware">
                <ng-include src="'dataItemTemplate'"></ng-include>
            </figure>
        </div>
        <div class="stage">
            <h2>Backlog</h2>
            <figure class="card" ng-repeat="item in backlogItems.Backlog">
                <ng-include src="'dataItemTemplate'"></ng-include>
            </figure>
        </div>
        <div class="stage">
            <h2>Scheduled</h2>
            <figure class="card" ng-repeat="item in backlogItems.Scheduled">
                <ng-include src="'dataItemTemplate'"></ng-include>
            </figure>
        </div>
        <div class="stage">
            <h2>InProgress</h2>
            <figure class="card" ng-repeat="item in backlogItems.InProgress">
                <ng-include src="'dataItemTemplate'"></ng-include>
            </figure>
        </div>
        <div class="stage">
            <h2>Delivery</h2>
            <figure class="card" ng-repeat="item in backlogItems.Delivery">
                <ng-include src="'dataItemTemplate'"></ng-include>
            </figure>
        </div>
    </div>
    <div style="display: block;">
        <label for='showDebugInfo'>Debug</label> <input type='checkbox' name='showDebugInfo' ng-model='showDebugInfo' />
        <textarea ng-show='showDebugInfo' rows="70" cols="280">{{jobs | json}}</textarea>
    </div>
</div>



<script type='text/ng-template' id='dataItemTemplate'> 
<h3 class="cardTitle"><a ng-href='/#/view/{{item.title}}'>{{item.title}}</a></h3>
<figcaption class="caption">{{item.description}}</figcaption>
<div class="gutter">
    <div class="action-item left button-sm" title="move left" ng-hide="item.phase == 1">
        <span class="icon-sm" ng-click='moveLeft(item)'><</span>
    </div>
    <div class="action-item left" title="assigned to {{item.assignedTo}}">
        <span class="action-text">{{item.assignedTo}}</span>
    </div>
    <div class="action-item left" title="due on {{item.dueDate}}">  
        <span class="action-text">{{item.dueDate}}</span>
    </div>

    <div class="action-item right button-sm" title="move right" ng-hide="item.phase == 5">  
        <span class="icon-sm" ng-click='moveRight(item)'>></span>
    </div>
    <div ng-class="item.notes.length > 0 ? 'action-item right notes' : 'action-item right no-notes'">  
        <span class="icon-sm" ng-click='openNotes(item)'>&nbsp;</span>
    </div>
</div>
</script> 
