<h2>Work Backlog</h2>

<ul id="stagesList" ng-controller="BacklogController">
    <li>
        <h2>Aware</h2>
        <div>
            <ul>
                <li class="item" ng-repeat="item in backlogItems.Aware">
                    <ng-include src="'dataItemTemplate'"></ng-include>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <h2>Backlog</h2>
        <div>
            <ul>
                <li class="item"  ng-repeat="item in backlogItems.Backlog">
                    <ng-include src="'dataItemTemplate'"></ng-include>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <h2>Scheduled</h2>
        <div>
            <ul>
                <li class="item"  ng-repeat="item in backlogItems.Scheduled">
                    <ng-include src="'dataItemTemplate'"></ng-include>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <h2>InProgress</h2>
        <div>
            <ul>
                <li class="item"  ng-repeat="item in backlogItems.InProgress">
                    <ng-include src="'dataItemTemplate'"></ng-include>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <h2>Delivery</h2>
        <div>
            <ul>
                <li class="item"  ng-repeat="item in backlogItems.Delivery">
                    <ng-include src="'dataItemTemplate'"></ng-include>
                </li>
            </ul>
        </div>
    </li>
</ul>

<script type='text/ng-template' id="dataItemTemplate"> 
    <div class="itemTemplate">
        <h3 class="itemHeader">{{item.title}}</h3>
        <div class="itemDescription">{{item.description}}</div>
    </div>
</script> 