<h2>Work Backlog</h2>

<div id="stagesList" ng-controller="BacklogController">
    <div class="stage">
        <h3>Aware</h3>
        <figure class="card" ng-repeat="item in backlogItems.Aware">
            <ng-include src="'dataItemTemplate'"></ng-include>
        </figure>
    </div>
    <div class="stage">
        <h3>Backlog</h3>
        <figure class="card" ng-repeat="item in backlogItems.Backlog">
            <ng-include src="'dataItemTemplate'"></ng-include>
        </figure>
    </div>
    <div class="stage">
        <h3>Scheduled</h3>
        <figure class="card" ng-repeat="item in backlogItems.Scheduled">
            <ng-include src="'dataItemTemplate'"></ng-include>
        </figure>
    </div>
    <div class="stage">
        <h3>InProgress</h3>
        <figure class="card" ng-repeat="item in backlogItems.InProgress">
            <ng-include src="'dataItemTemplate'"></ng-include>
        </figure>
    </div>
    <div class="stage">
        <h3>Delivery</h3>
        <figure class="card" ng-repeat="item in backlogItems.Delivery">
            <ng-include src="'dataItemTemplate'"></ng-include>
        </figure>
    </div>
</div>

<script type='text/ng-template' id="dataItemTemplate"> 
    <div class="corner"></div>
    <div class="feature">{{item.title}}</div>
    <figcaption class="caption">{{item.description}}</figcaption>
</script> 