body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
}

a, a:visited {
    color: orange;  
    text-decoration: none;
}

div.stage {
    float: left;
    width: 17%;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0px 10px;
    padding: 6px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
}

.stage h2 {
    display: inline;
    font-size: 15px;
}

input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

input.ng-valid.ng-dirty {
    background-color: #78FA89;
}

figure {
    
}

.card {
    display: inline-block;
    width: 96%;
    min-width: 90px;
    margin: 4px;
    padding: 1%;
    vertical-align: top;
    background-color: #eee;
    box-shadow: 2px 2px 4px #aaa;
}

.card h3.cardTitle {
    display: block;
    font-size: 10px;
    line-height: 18px;
    margin: 0px;
    min-height: 19px;
    min-width: 30px;
    text-transform: uppercase;
    background-color: #333;
    border: 1px solid #888;
    padding: 3px;
}

.card h3.cardTitle a, .card h3.cardTitle a:visited {
    color: orange;  
    text-decoration: none;
}

.card .caption {
	width: 96%;
    font-size: 12px;
    margin-top: 8px;
    padding-left: 8px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}

.card .gutter {
    border-top: 1px solid black;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #dcdcdc;
    font-size: 11px;
    font-weight: bold;
    margin-top: 7px;
    overflow-y: hidden;
    padding: 4px 4px 4px 8px;
}

.card .action-item {
    vertical-align: middle;
    cursor: pointer;
}

.card .left {
    display: inline;
    float: left;
    margin-right: 7px;
}

.card .right {
    display: inline;
    float: right;
    margin-left: 7px;
}

.card .button-sm {
    padding-left: 4px;
    width: 14px;
    background-color: #404040;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}

.card .notes {
    padding-left: 4px;
    width: 12px;
    height: 16px;
    background-image:url(/images/file.png)   
}

.card .no-notes {
    padding-left: 4px;
    width: 12px;
    height: 16px;
    background-image:url(/images/file4.png)   
}

.thumbnail { height: 280px !important; }
.btn-droppable { width: 180px; height: 30px; padding-left: 4px; }
.btn-draggable { width: 160px; }
